<div class="game-section">
  <h1>新しい掲示板を作成</h1>
  <p>こちらでは、新しい掲示板を作成できます。</p>
  <ol>
    <li>
      <p>&#9312「ゲーム名」を入力</p>
      <p>入力例：○○○○モンスター</p>
    </li>
    <li>
      <p>&#9313「掲示板の用途」を入力</p>
      <p>セレクトボックスから該当するもの（交換・対戦・マルチプレイ募集）を選択してください。</p>
    </li>
    <li>
      <p>&#9314「掲示板の説明」を入力</p>
      <p>入力例：「○○○○モンスター」のアイテムの交換掲示板です。お気軽にご活用ください。</p>
    </li>
  </ol>
  <%= render "shared/error_messages", resource: @game %>
  <%= render "shared/form", model: @game %>
</div>
