<div class="top-main">
  <div class="about">
    <h1>Tradeとは？</h1>
    <p>Tradeは、コンソールゲームやスマホゲームで他のプレイヤーとモンスターやアイテムの交換をするための掲示板です。自分の力だけでは手に入れるのが難しい、身近に交換相手がいない、そんな時はぜひTradeをご利用ください。</p>
    <p>また、交換以外にも対戦相手やマルチプレイの仲間の募集をすることもできます。お気軽にご活用ください。</p>
  </div>
  <div class="how-to-use">
    <h2>ご利用方法</h2>
    <div class="note">
      <p class="note-registration">※ご利用にはアカウント登録が必要です。アカウント登録は<%= link_to "こちら", new_user_registration_path, class: "account-link" %>から</p>
      <p class="note-login">すでにアカウントをお持ちの方→ログインは<%= link_to "こちら", new_user_session_path, class: "account-link" %>から</p>
    </div>
    <ol>
      <li>
        <p>&#9312ゲームを選択</p>
        <p>このページの左側の「ゲーム」からゲームを検索します。</p>
      </li>
      <li>
        <p>&#9313掲示板を選択</p>
        <p>目的に合った掲示板を選択します。</p>
      </li>
      <li>
        <p>&#9314チャットでやりとり</p>
        <p>チャットで交換や対戦などの相手を見つけて、ゲームを楽しんでください！</p>
      </li>
      <li>
        <p>ご希望のゲームの掲示板がない場合…</p>
        <p>新しく追加することができます。「新しい掲示板を作成」からゲーム名・目的・説明文を入力して掲示板を作成してください。</p>
      </li>
    </ol>
  </div>
</div>
