/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ========== index ==========
1. layouts
  1.1 application.html.erb
2. shared
  2.1 _header.html.erb
  2.2 _footer.html.erb
  2.3 _not_logged_in.html.erb
  2.4 _logged_in.html.erb
  2.5 _error_messages.html.erb
=========================== */

/* ===========================
  1. layouts
=========================== */
/* ===========================
  1.1 application.html.erb
=========================== */
body, div, ul, ol, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding-bottom: 38px;
}

.notice {
  background-color: #00ff00;
  color: black;
  font-weight: bold;
}

.alert {
  background-color: white;
  color: red;
  font-weight: bold;
}

.main {
  padding: 40px 0;
}

.main-contents {
  display: flex;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ===========================
  2. shared
=========================== */
/* ===========================
  2.1 _header.html.erb
=========================== */
header {
  background-color: #00bfff;
  padding: 10px 20px;
}

.header-contents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  height: 74px;
  margin: 0 auto;
}

.website-name {
  transition-duration: 0.2s;
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-left: 40px;
}

.website-name:hover {
  opacity: 0.7;
  transition-duration: 0.2s;
}

/* ===========================
  2.2 _footer.html.erb
=========================== */
footer {
  position: absolute;
  bottom: 0;
  background-color: #00bfff;
  color: white;
  font-size: 12px;
  width: calc(100% - 20px);
  height: 18px;
  padding: 10px;
}

.footer-contents {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-contents span {
  font-family: "Times New Roman", sans-serif;
}

/* ===========================
  2.3 _not_logged_in.html.erb
=========================== */
.header-link {
  transition-duration: 0.2s;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 20px;
}

.header-link:last-of-type {
  margin-right: 40px;
}

.header-link:hover {
  opacity: 0.7;
  transition-duration: 0.2s;
}

/* ===========================
  2.4 _logged_in.html.erb
=========================== */
.header-logged-in {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid white;
  padding: 5px;
  margin-right: 20px;
}

.user-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.user-name {
  color: white;
  font-weight: bold;
  margin: 0 20px;
}

.header-box {
  position: absolute;
  top: 74px;
  right: 20px;
  display: none;
  background-color: #eedcb3;
  padding: 20px;
}

.header-box-link {
  display: block;
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

/* ===========================
  2.5 _error_messages.html.erb
=========================== */
.error-messages {
  text-align: left;
  border: 2px solid red;
  margin-bottom: 20px;
}

.error-messages li {
  margin-left: 20px;
}
