// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ========== index ==========
1. index.html.erb
2. new.html.erb
3. edit.html.erb
4. _form.html.erb
=========================== */

/* ===========================
  1. index.html.erb
=========================== */
.game-list {
  background-color: white;
  width: calc(33% - 60px);
  padding: 30px;
  margin-right: 20px;
}

.game-list p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-list ul {
  padding-left: 20px;
}

.game-list li {
  margin-bottom: 10px;
}

.game-link {
  transition-duration: 0.2s;
  text-decoration: none;
  color: blue;
}

.game-link:hover {
  transition-duration: 0.2s;
  color: #00bfff;
}

.new-game-link {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 10px;
}

.top-main {
  background-color: white;
  width: calc(67% - 60px);
  padding: 30px;
}

.about {
  margin-bottom: 30px;
}

.about h1 {
  margin-bottom: 10px;
}

.about p {
  text-indent: 1em;
}

.how-to-use h2 {
  margin-bottom: 10px;
}

.note {
  border: 1px solid #00bfff;
  padding: 10px;
  margin-bottom: 10px;
}

.note p {
  display: inline-block;
}

.note p:last-of-type {
  text-indent: 1em;
}

.account-link {
  text-decoration: none;
  color: blue;
}

.account-link:hover {
  text-decoration: underline;
}

.how-to-use ol {
  list-style-type: none;
}

.how-to-use ol li {
  margin-bottom: 10px;
}

.how-to-use ol li p {
  text-indent: 1em;
}

.how-to-use ol li p:first-of-type {
  text-indent: 0;
  font-weight: bold;
}

.how-to-use ol li:last-child {
  margin-top: 10px;
}

/* ===========================
  2. new.html.erb
=========================== */
.game-section {
  background-color: white;
  width: 100%;
  padding: 40px;
}

.game-section h1 {
  margin-bottom: 20px;
}

.game-section > p {
  margin-bottom: 10px;
}

.game-section ol {
  list-style-type: none;
  margin-bottom: 20px;
}

.game-section ol li p:last-of-type {
  text-indent: 1em;
}

/* ===========================
  3. edit.html.erb
=========================== */
/* ===========================
  4. _form.html.erb
=========================== */
.game-form {
  text-align: left;
}

.game-form table {
  border-collapse: collapse;
}

.game-form th, .game-form td {
  padding: 10px;
}

.game-label {
}

.game-field {
  font-size: 16px;
  width: 300px;
  height: 30px;
}

.game-select-field {
  font-size: 16px;
  width: 308px;
  height: 36px;
}

.game-text-area {
  font-size: 16px;
  width: 302px;
  height: 90px;
}

.game-button {
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
  font-size: 16px;
  width: 434px;
  padding: 10px;
  margin-top: 10px;
}
