/* ========== index ==========
1. shared
  1.1 _links.html.erb
2. registrations, sessions
  2.1 COMMON
  2.2 registrations
    2.2.1 new.html.erb
    2.2.2 edit.html.erb
  2.3 sessions
    2.3.1 new.html.erb
3. show.html.erb
=========================== */

/* ===========================
  1. shared
=========================== */
/* ===========================
  1.1 _links.html.erb
=========================== */
.link {
  display: inline-block;
  text-decoration: none;
  color: blue;
  margin-bottom: 20px;
}

.link:hover {
  text-decoration: underline;
}

/* ===========================
  2. registrations, sessions
=========================== */
/* ===========================
  2.1 COMMON
=========================== */
.account-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 30px 60px;
  margin: 0 auto;
}

@media screen and (max-width: 575px) {
  .account-section {
    padding: 30px 10px;
    margin: 0;
  }
}

.account-section h1 {
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .account-section h1 {
    font-size: 20px;
  }
}

.form {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  left: calc(50% - 154px);
}

@media screen and (max-width: 575px) {
  .form-label {
    left: 0;
  }
}

.form-field {
  font-size: 16px;
  width: 300px;
  height: 30px;
}

@media screen and (max-width: 575px) {
  .form-field {
    width: calc(100% - 10px);
  }
}

.form-submit {
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
  font-size: 16px;
  width: 308px;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 575px) {
  .form-submit {
    width: 100%;
  }
}

/* ===========================
  2.2 registrations
=========================== */
/* ===========================
  2.2.2 edit.html.erb
=========================== */
.form-text-area {
  font-size: 16px;
  width: 302px;
  height: 90px;
}

.form-checkbox {
  width: 16px;
  height: 16px;
}

.delete-account {
  border-top: 2px solid black;
  padding: 20px 0;
  margin-top: 10px;
}

.delete-account h3 {
  margin-bottom: 20px;
}

.delete-account p {
  margin-bottom: 10px;
}

.delete-button {
  cursor: pointer;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  width: 308px;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 575px) {
  .delete-button {
    width: 100%;
  }
}

/* ===========================
  2.3 sessions
=========================== */
/* ===========================
  2.3.1 new.html.erb
=========================== */
.guest {
  border-top: 2px solid black;
  padding-top: 10px;
}

.guest-link {
  display: block;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 10px;
}

/* ===========================
  3. show.html.erb
=========================== */
.show-user-section {
  background-color: white;
  width: 100%;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .show-user-section {
    width: calc(100% - 80px);
  }
}

.show-user-profile {
  display: flex;
}

@media screen and (max-width: 767px) {
  .show-user-profile {
    flex-direction: column;
  }
}

.show-user-profile h3 {
  margin: 20px 0;
}

.show-user-information, .show-user-chat {
  width: 50%;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .show-user-information, .show-user-chat {
    width: calc(100% - 40px);
  }
}

.show-user-information table {
  border-collapse: collapse;
  width: 100%;
}

.show-user-information th {
  width: 20%;
  padding: 10px;
}

.show-user-information td {
  width: 80%;
  padding: 10px;
}

.show-user-information td span {
  font-size: 24px;
}

.show-user-icon {
  width: 100px;
  height: 100px;
}

.show-user-posted-chat-button, .show-user-liked-chat-button {
  cursor: pointer;
  transition-duration: 0.2s;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
}

.show-user-posted-chat-button:hover, .show-user-liked-chat-button:hover {
  transition-duration: 0.2s;
  color: #ff4500;
}

.show-user-chat ul {
  list-style-type: none;
}

.show-user-chat ul li {
  border-top: 1px solid black;
  padding: 10px;
}

.show-user-link {
  text-decoration: none;
  color: blue;
}

.show-user-link:hover {
  text-decoration: underline;
}

.show-user-chat-text {
  margin: 10px 0;
}

.show-user-chat-creation-date {
  display: block;
  text-align: right;
  color: #808080;
  font-size: 12px;
}

.show-user-liked-chat {
  display: none;
}
